<div id="d1">
    <div class="row"  style="height: 60px;"></div>
<div class="row">
    <div class="col-sm-3"></div>
    <div class="col-sm-6"><h1>Hello!</h1></div>
    <div class="col-sm-2"></div>
   </div>


   <div class="row">
    <div class="col-sm-4"></div>
    <div class="col-sm-6"><h2>I,m Laura</h2></div>
    <div class="col-sm-2"></div>
   </div>
<div class="container">
<div class="row">
    <div class="col-sm-1"></div>
    <div class="col-sm-7"><p>The family photographer for perople wanting anti-cliche family photographs. showing up as me to photograph the real you.Encouraging aesthetic lovers to be unupologetic.Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.<br><br><br><a href="#" class="button">Learn more about me</a></p></div>
    <div class="col-sm-2"><img src="https://cdn.pixabay.com/photo/2017/08/07/20/05/camera-2607298_960_720.jpg" alt="" style="height:340px;width: 460px; border: 15px solid #fffffc;border-bottom-right-radius: 30%;" id="img1"></div>

</div>
</div>
</div>
